body {
    background-color: #212121;
    color: #ffff;
}

p {
    align-items: center;
    text-align: center;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    width: fit-content;
    gap: 20px
}